.hidden {
  display: none;
}

/* h1, h3, h4 {
  text-align: center;
} */

h1 {
  padding-top: 1em;
}

.results-col {
  padding-top: 35px;
}

input {
  display: block;
}

button {
  margin-top: 10px;
}

#headers {
  margin-top: 1em;
}

#loki-result {
  margin-top: 0 !important;
}
